---
# The scss file which include files from _sass/
---

@charset "utf-8";

$base-font-family: Merriweather, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  0.875rem;
$base-line-height: 1.5;

$text-color:   #333;
$link-color:   #0074d9;
$meta-color:   #a0a0a0;
$border-color: #ddd;

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700);
@import "color";
@import "base";
@import "layout";
@import "syntax";


/*****************************************************************************/
/* education
/*****************************************************************************/

ul.education {list-style-type: none; margin-bottom: 2em;padding: 0;}

ul.education li {
  list-style-type: none;
  line-height: 1.55em;
  padding: 0;
  margin-top:1em;
}

ul.education span {color: #333;font-size: 100%;}

/*****************************************************************************/
/* publications
/*****************************************************************************/

ul.publications {
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0;   
}

ul.publications li {
  list-style-type: none;
  line-height: 1.55em;
  padding: 0;
  margin-top:1em;
}


/*****************************************************************************/
/* miscellaneous
/*****************************************************************************/

.center {
  text-align: center;
}
