<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    {% if page.use_math %}
        {% include mathjax_support %}
    {% endif %}
    <title>{{ site.title }}</title>
</head>
<body>
    <main>
        <header class="site-header">
            <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
            <nav class="site-nav">
                <a href="/about/" class="{% if page.url == '/about/' %}active{% endif %}">About</a>
                <a href="/cv/" class="{% if page.url == '/cv/' %}active{% endif %}">CV</a>
                <a href="/posts/" class="{% if page.url == '/posts/' %}active{% endif %}">Posts</a>
		<a href="/software/" class="{% if page.url == '/software/' %}active{% endif %}">Software<a>
            </nav>
	    {% if page.use_math %}
      		{% include mathjax_support %}
    	    {% endif %}
        </header>
        {{ content }}
    <hr>
    <footer>
	  <p >
		By {{ site.title }} /
		<a href="mailto:{{ site.email }}">{{ site.email }}</a> /
		<a href="http://github.com/firasmidani">GitHub</a> /
	    <a href="http://twitter.com/firasmidani">Twitter</a>
	  </p>
    </footer>		
    </main>
    {% include analytics.html %}
    <script id="dsq-count-scr" src="//firasmidani-github-io.disqus.com/count.js" async></script>
    </body>
</html>
